@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,500;0,6..12,700;1,6..12,400;1,6..12,500;1,6..12,700&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
}
.navbar{
    background-color: #d5d4d4;
    height: 80px;
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color:#666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link:active{
    color: #000000;
}

@media (min-width:991px){
    .nav-link::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #9F2634;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

.hero-section{
    background-size: cover;
    width: 100%;
    height: 100vh;
    visibility: visible;
}

.bg-holder{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.btn {
    font-size: 0.8rem;
    font-weight: 700;
}

.btn i {
    vertical-align: text-top;
}

.divider-content-center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
    padding-left:0.5rem ;
    padding-right: 0.5rem;
    background-color: white;
    font-size: 0.8rem;
    font-weight: 500;
    color: #999;
}

.divider{
    margin: 2rem 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.btn-outline-custom{
    color: #31374a;
    border-color: #ddd;
}

.btn-outline-custom:hover{
    color: #31374a;
    border-color: #eee;
    background-color: #eee;
    
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
}

.carousel-caption{
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

@media only screen and(min-width:768px) and (max-width: 991px){
    .carousel-caption{
        bottom: 350px;
    }
    .carousel-caption p{
        width: 100%;
    }
    
}
@media only screen and (max-width: 767px){
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}

.about-section-padding{
    height: 100vh;
}

.card{
    background: rgb(238, 234, 234);
    margin-bottom: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-10px); /* Move card up on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

.about-text h2{
    font-weight: bold;
}

.video-container{
    height: 100vh;
}

.contact-container{
    height: 100vh;
}

.contact-area{
    padding-top: 7%;
}
.row.single-form{
    background: #fff;
}
.left{
    background: rgb(212, 210, 213);
    padding: 200px 98px;
    margin-left: 60px;
}

.left h2{
    font-family: poppins;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.left h2 span{
    font-weight: 100;
}
.single-form{
    background: #fff;
}
.right{
    padding: 70px 100px;
    position: relative;
}

.right i{
    position: absolute;
    font-size: 80px;
    left: -27px;
    color: 40%;
    color: #fff;
}

.form-control {
	border: 2px solid #000;
}
.right button {
	border: none;
	border-radius: 10px;
	background: #252525;
	width: 560px;
	color: #fff;
	padding: 15px 0;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;

}
.right button:hover{
    background-color: #252525;
}

@media (min-width:768px) and (max-width:991px){
    .right i {
	top: -52px;
	transform: rotate(90deg);
	left: 50%;
}
}

@media (max-width:767px){
    .left {
  padding: 90px 15px;
  text-align: center;
}
.left h2 {
  font-size: 25px;
}
.right {
  padding: 25px;
}
.right i {
  top: -52px;
  transform: rotate(90deg);
  left: 46%;
}
    .right button {
	width: 150px;
	padding: 12px 0;
}
} 

/*style finde job*/
.wfo{
    margin-top: 80px;
    background-size: cover;
    width: 100%;
    height: 100vh;
    visibility: visible;
}
.wfh{
    background-size: cover;
    width: 100%;
    height: 100vh;
    visibility: visible;
}

.col-md-4{
    padding-top: 2%;
}

.text-center{
    font-weight: 700;
}

.card-title{
    margin-top: 10px;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.card-text{
    margin-top: 20px;
    text-align: justify;
}

.card-body{
    margin: 4px;
}

/* CSS untuk section dan container */
#cardAbout {
    padding: 20px;
    background-color: #f8f9fa; /* Warna latar belakang */
  }
  
  /* CSS untuk card-item */
  .card-item {
    background-color: #ffffff; /* Warna latar belakang kartu */
    border-radius: 8px; /* Border radius untuk sudut kartu */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bayangan (shadow) untuk efek kartu */
    transition: transform 0.3s ease; /* Transisi saat hover */
  }
  
  .card-item:hover {
    transform: translateY(-5px); /* Efek mengangkat sedikit kartu saat dihover */
  }
  
  /* CSS untuk gambar di dalam kartu */
  .card-item img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  /* CSS untuk judul dan teks di dalam kartu */
  .title {
    font-weight: bold; /* Judul kartu menjadi tebal */
    font-size: 27px;
    text-align: center;
  }
  
  .text {
    color: #000000; /* Warna teks pada kartu */
    margin: 20px;
    font-size: 20px;
    text-align: center;
  }
  
  /* CSS untuk tombol Detail di dalam kartu */
  .btn-primary {
    background-color: #007bff; /* Warna latar belakang tombol */
    border-color: #007bff; /* Warna border tombol */
    
  }
  
  .btn-primary:hover {
    background-color: #0069d9; /* Warna latar belakang tombol saat dihover */
    border-color: #0062cc; /* Warna border tombol saat dihover */
  }
  